.center {
    text-align: center;
}
.border {
    width: 300px;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    }
p {
display: inline;
} 
.left {
    margin-left: 100px;
}
.right {
    margin-left: 425px;
}
.near {
    margin-left: 100px;
}
.middle {
    margin-left: 100px;
}
.far {
    margin-left: 500px;
}
table {
    margin: auto;
    border: 2px solid black;
}
th {
    padding: 15px 15px 0px 0px;
    border: 2px solid black;
}
td {
    padding: 0px 15px;
    border: 2px solid black;
}